* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  background-color: #fdfcde;
  color: #353535;
  width: 600px;
  margin: 20px auto;
}

#dropbox {
  display: block;
  border: 4px dashed gray;
  padding: 40px 0px;
  text-align: center;
  cursor: pointer;
}

input[type="file"] {
  display: none;
}

#grid {
  margin: 20px 0px;
  width: 600px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 20px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  padding: 4px 0px 4px 10px;
  border-left: 4px solid #353535;
  margin-bottom: 10px;
  background-color: #f8ce5b;
}

button {
  background-color: #f8ce5b;
  color: #353535;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 10px 15px;
  font-weight: 600;
}

button:disabled {
  background-color: gray;
  color: white;
}
